
body{
    background: #011224;
}

.container{
    padding: 0 100px;
} 

@media (max-width: 1220px){
    .container{
        padding: 0 40px;
    } 
  }


.button{
    max-width: 300px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    border-radius: 60px;
    background: linear-gradient(94.98deg, #0D2F68 0%, #D51117 100%);
    color: white;
    padding: 12px 30px;
    border: none;
}

.button:hover{
    opacity: 0.8;
    transition: opacity 0.2s ease-in;
}
/* 16px Mobile */